<a href="https://colab.research.google.com/github/30Umamaheswari/IMDB/blob/main/IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

imdb_df = pd.read_csv("imdb.csv")
imdb_df.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [14]:
imdb_df.duplicated().sum()

45

In [15]:
imdb_df = imdb_df.drop_duplicates(subset=['movie_title'])

In [16]:
imdb_df.isna().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        863
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          20
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [17]:
imdb_df.shape

(4917, 28)

In [18]:
imdb_df = imdb_df.dropna(subset=['budget','gross'])

In [19]:
imdb_df.shape

(3789, 28)

In [20]:
imdb_df.isnull().sum()

color                         2
director_name                 0
num_critic_for_reviews        1
duration                      1
director_facebook_likes       0
actor_3_facebook_likes       10
actor_2_name                  5
actor_1_facebook_likes        3
gross                         0
genres                        0
actor_1_name                  3
movie_title                   0
num_voted_users               0
cast_total_facebook_likes     0
actor_3_name                 10
facenumber_in_poster          6
plot_keywords                31
movie_imdb_link               0
num_user_for_reviews          0
language                      3
country                       0
content_rating               51
budget                        0
title_year                    0
actor_2_facebook_likes        5
imdb_score                    0
aspect_ratio                 74
movie_facebook_likes          0
dtype: int64

In [21]:
imdb_df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews          object
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [22]:
imdb_df['content_rating']=imdb_df['content_rating'].fillna('Not Mentioned')

<ipython-input-22-e33c778d7df5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_df['content_rating']=imdb_df['content_rating'].fillna('Not Mentioned')

In [24]:
imdb_df.to_excel('imdb_movie.xlsx',index = True)

In [27]:
imdb_df_actors = pd.melt(imdb_df,value_vars=['actor_1_name','actor_2_name','actor_3_name'])
actor = imdb_df_actors['value'].unique()
actor
print(len(actor))

4599

In [29]:
unique_actors_df = pd.DataFrame({'Actor Name': actor})

unique_actors_df.to_excel('Actors Name.xlsx',index = False)

In [31]:
director = imdb_df['director_name'].unique()
direc_df = pd.DataFrame({'Director Name':director})

direc_df.to_excel('Directors Name.xlsx',index=False)

In [43]:
# genre_df = imdb_df.explode(['genres'])

unique_genres = list(set('|'.join(imdb_df['genres']).split('|')))
unique_genres

gen_df = pd.DataFrame({'Genres':unique_genres})

gen_df.to_excel('Genres.xlsx',index=False)

In [44]:
conty = imdb_df['country'].unique()
country_df = pd.DataFrame({'Country':conty})

country_df.to_excel('Country.xlsx',index=False)

In [47]:
lan = imdb_df['language'].unique()
lan_df = pd.DataFrame({'Language':lan})

lan_df.to_excel('Language.xlsx',index=False)

In [48]:
cr = imdb_df['content_rating'].unique()
cr_df = pd.DataFrame({'Content Rating':cr})

cr_df.to_excel('Content Rating.xlsx',index=False)